data/raw_reads/SRR14183638_2.fastq.gz
data/raw_reads/SRR14183632_2.fastq.gz
data/raw_reads/SRR14183636_1.fastq.gz
data/raw_reads/SRR14183630_2.fastq.gz
data/raw_reads/SRR14183641_2.fastq.gz
data/raw_reads/SRR14183640_1.fastq.gz
data/raw_reads/SRR14183632_1.fastq.gz
data/raw_reads/SRR14183637_1.fastq.gz
data/raw_reads/SRR14183631_1.fastq.gz
data/raw_reads/SRR14183640_2.fastq.gz
data/raw_reads/SRR14183633_1.fastq.gz
data/raw_reads/SRR14183634_1.fastq.gz
data/raw_reads/SRR14183638_1.fastq.gz
data/raw_reads/SRR14183639_2.fastq.gz
data/raw_reads/SRR14183635_2.fastq.gz
data/raw_reads/SRR14183633_2.fastq.gz
data/raw_reads/SRR14183636_2.fastq.gz
data/raw_reads/SRR14183639_1.fastq.gz
data/raw_reads/SRR14183630_1.fastq.gz
data/raw_reads/SRR14183637_2.fastq.gz
data/raw_reads/SRR14183631_2.fastq.gz
data/raw_reads/SRR14183641_1.fastq.gz
data/raw_reads/SRR14183634_2.fastq.gz
data/raw_reads/SRR14183635_1.fastq.gz
config/ref/Mus_musculus.GRCm39.110.gtf
config/ref/Mus_musculus.GRCm39.dna.primary_assembly.fa
config/ref/hisat_index/GRCm39_index.6.ht2
config/ref/hisat_index/GRCm39_index.5.ht2
config/ref/hisat_index/GRCm39_index.2.ht2
config/ref/hisat_index/GRCm39_index.4.ht2
config/ref/hisat_index/GRCm39_index.1.ht2
data/raw_reads/SRR14183638_2.fastq.gz
data/raw_reads/SRR14183632_2.fastq.gz
data/raw_reads/SRR14183636_1.fastq.gz
data/raw_reads/SRR14183630_2.fastq.gz
data/raw_reads/SRR14183641_2.fastq.gz
data/raw_reads/SRR14183640_1.fastq.gz
data/raw_reads/SRR14183632_1.fastq.gz
data/raw_reads/SRR14183637_1.fastq.gz
data/raw_reads/SRR14183631_1.fastq.gz
data/raw_reads/SRR14183640_2.fastq.gz
data/raw_reads/SRR14183633_1.fastq.gz
data/raw_reads/SRR14183634_1.fastq.gz
data/raw_reads/SRR14183638_1.fastq.gz
data/raw_reads/SRR14183639_2.fastq.gz
data/raw_reads/SRR14183635_2.fastq.gz
data/raw_reads/SRR14183633_2.fastq.gz
data/raw_reads/SRR14183636_2.fastq.gz
data/raw_reads/SRR14183639_1.fastq.gz
data/raw_reads/SRR14183630_1.fastq.gz
data/raw_reads/SRR14183637_2.fastq.gz
data/raw_reads/SRR14183631_2.fastq.gz
data/raw_reads/SRR14183641_1.fastq.gz
data/raw_reads/SRR14183634_2.fastq.gz
data/raw_reads/SRR14183635_1.fastq.gz
config/ref/Mus_musculus.GRCm39.110.gtf
config/ref/Mus_musculus.GRCm39.dna.primary_assembly.fa
config/ref/hisat_index/GRCm39_index.6.ht2
config/ref/hisat_index/GRCm39_index.5.ht2
config/ref/hisat_index/GRCm39_index.2.ht2
config/ref/hisat_index/GRCm39_index.4.ht2
config/ref/hisat_index/GRCm39_index.1.ht2
config/ref/hisat_index/GRCm39_index.3.ht2
config/ref/hisat_index/GRCm39_index.7.ht2
config/ref/hisat_index/GRCm39_index.8.ht2
