---
# directories
result_dir:  results/         # should be kept
working_dir: data/            # can be removed (temporary files)


# refs 
refs:
  directories: "config/refs/GRCm39_index/splice_sites/"
  genome: "config/refs/Mus_musculus.GRCm39.dna.primary_assembly.fa" 
  gtf:    "config/refs/Mus_musculus.GRCm39.110.gtf"
  index:  "config/refs/GRCm39_index/GRCm39_index"
  splice_sites: "config/refs/GRCm39_index/splice_sites/splice_sites.txt"


# samples to condition
samples: data/raw_reads/SRR_metadata.csv

# read quality trimming
fastp:
  phread_quality: 20 # Phred+33 score (> 15 for Proton Ion, > 30 or more for Illumina)
  percent_limit: 50
  base_limit: 0.1


######
# Hisat2
######

