---
# directories
result_dir:  results/         # should be kept
working_dir: data/            # can be removed (temporary files)
keep_working_dir: TRUE        # if TRUE then 'working_dir' is kept at the completion of the pipeline. if FALSE, it is deleted. 


# refs 
refs:
  genome: "config/refs/Mus_musculus.GRCm39.dna.primary_assembly.fa" 
  gtf:    "config/refs/Mus_musculus.GRCm39.110.gtf"
  #index:  "config/ref/hisat_index/GRCm39_index"


# samples to condition
samples: data/raw_reads/SRR_metadata.csv

# read quality trimming
fastp:
  qualified_quality_phred: 30 # Phred+33 score (> 15 for Proton Ion, > 30 or more for Illumina) 


######
# Hisat2
######

